body{
    margin: 0;
    padding: 0;
    background-color: #ffeeed;
}

p{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
}

img{
    width: 100%;
}

button{
    width: 130px;
    height: 130px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.2s;
    box-shadow: 1px 1px 5px black; 
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.line_img_center{
    margin-top: 80px;
    margin: auto;
    width: 300px;
    text-align: center;
}

.div_button{
    text-align: left;
}

.hide{
    display: none;
}